.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-items
      %p.side_bar__user-name__top-items__name
        masa
      %ul.side_bar__user-name__top-items__menu 
        %li.side_bar__user-name__top-items__menu__new-group
          = link_to"#" do
            = icon('fas','edit')
        %li.side_bar__user-name__top-items__menu__edit-user
          = link_to"#" do
            = icon('fas','cog')

        
  .side_bar__groups
    .side_bar__groups__group
      techcamp
    .side_bar__groups__messages
      まだメッセージがありません