* {
  box-sizing: border-box;
}

.side_bar {
  width: 300px;
  float: left;
  color: #fff;
  &__user-name{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
      &__top-items{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 20px;
      line-height: 20px;
        &__menu{
          width: calc(100% - 200px);
          display: flex;
          justify-content: flex-end;
           li {
             margin-left: 5px;
             a{
                color: #ffffff;
              }
            } 
        }
     }
  }
      
  
  &__groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    &__group{
      font-size: 15px;
      margin-bottom: 5px;
      display: block;  
    }
    &__messages{
      font-size: 11px;
    }
  }  
}
.main_chat {
  width: calc(100vw - 300px);
  float: left;
  &__group{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    &__name{
      margin-top: 35px;
      &__member{
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &__user-name{
        display: flex;
        font-size: 12px;
        color: #999999;
        &__list{
          font-size: 12px;
          color: #999999;
        }
      }
    }
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px; 
      a{
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
 
  .main_chat__message{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    &__position1{
      padding-bottom: 40px;
      &__user1{
        display: flex;
        margin-bottom: 10px;
        &__name{
          font-size: 16px;
          color: #333333;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text1{
        font-size: 14px;
        color: #434343;
        margin-bottom: 10px;
      }
    }
  
  }
  &__form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    .new_message{
      display: flex;
      .main_chat__form__message{
        width: 100%;
        height: 50px;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      .main_chat__form__message__input-box{
        position: relative;
        .main_chat__form__message__input-box__input-text__image{
          position: absolute;
          font-size: 1.3rem;
          top: 10px;
          right: 10px;
          cursor: pointer;
           .main_chat__form__message__input-box__input-text__image__file{
             display: none;
            }
          }
        }
        
      
      .main_chat__form__message__input-box__send-box{//ok
        width: 100px;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
        display: flex;
        }
    }
  }
}